<mat-toolbar-row>
    <button class="btnVolver" mat-button color="primary" (click)='volver()'> <mat-icon>undo </mat-icon> VOLVER </button>
    <button class="btnVolverCel" mat-icon-button color="primary" (click)='volver()'> <mat-icon>undo</mat-icon> </button>
    <span class="ruta">&nbsp; Tutorias - Detalle</span>
</mat-toolbar-row>

<mat-divider></mat-divider>

<div class="pantalla">

    <div class="bloqueDetalle">
        <mat-card *ngIf="(tutoria$ | async) as tutoria">
            <div  id="imprimir">
            <mat-card-header>
                <mat-card-title>Tutoria FCE</mat-card-title>
                <mat-card-subtitle>
                    Materia: {{tutoria?.materia}}<br>
                    Comisión: {{tutoria?.comision}} <br>
                    Fecha: {{ tutoria?.fecha | date:'dd/MM/yy' }} <br> 
                    Hora: {{ tutoria?.fecha | date:'HH:mm' }} <br>
                    Aula: {{tutoria?.aula}} <br> 
                    Tutor: {{ tutoria?.tutor.nombre }} {{ (tutoria$ |async)?.tutor.apellido }} 
                </mat-card-subtitle>

            </mat-card-header>
            <mat-card-content>
                    <img class="qr" src="data:image/png;base64,{{tutoria?.qr}}">


                  
                <!-- <mat-accordion>
                            <mat-expansion-panel [expanded]="true">
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  QR
                                </mat-panel-title>
                                

                              </mat-expansion-panel-header>

                              <img class="qr" src="https://www.heritageopendays.org.uk/cache/uploads/_blog/TW_QR_Code_1105_1105_s.png">
                          
                            </mat-expansion-panel>

   
                </mat-accordion>   -->
                

            
            </mat-card-content>
            </div>

            <button (click)="print()" mat-button color="basic"> <mat-icon>print </mat-icon> Imprimir </button>



        </mat-card>

    </div>

    <div class="bloqueTabla">

            <mat-card class="detalleCelular">
                <div>  25/08/2019 - Tutor: Walter Blanco  </div>  
                <div>  <button (click)="detalle()" mat-icon-button><mat-icon>zoom_in </mat-icon></button> </div>
            </mat-card>

            <button (click)="agregarTutoria()" mat-flat-button color="primary" class="btnAgregar"> <mat-icon>person_add </mat-icon> AGREGAR ALUMNOS</button>
            <!-- <button mat-mini-fab color="primary"> <mat-icon>person_add </mat-icon> </button> -->
        
            <table mat-table [dataSource]="tutorias$ | async">
        
                <!-- Columna nombre del alumno -->
                <ng-container matColumnDef="alumno_nombre">
                    <th mat-header-cell *matHeaderCellDef> Alumno </th>
                    <td mat-cell *matCellDef="let tutoria">
                        {{tutoria.alumno.nombre}} {{tutoria.alumno.apellido}}
                    </td>
                </ng-container>
        
                <!-- Columna dni del alumno -->
                <ng-container matColumnDef="alumno_dni">
                    <th mat-header-cell *matHeaderCellDef> DNI </th>
                    <td mat-cell *matCellDef="let tutoria">
                        {{tutoria.alumno.dni}}
                    </td>
                </ng-container>
        
                <!-- Columna legajo del alumno -->
                <ng-container matColumnDef="alumno_legajo">
                    <th mat-header-cell *matHeaderCellDef> Legajo </th>
                    <td mat-cell *matCellDef="let tutoria">
                        {{tutoria.alumno.legajo}}
                    </td>
                </ng-container>    
        
                <!-- Columna situacion del alumno -->
                <ng-container matColumnDef="situacion">
                    <th mat-header-cell *matHeaderCellDef> Situacion </th>
                    <td mat-cell *matCellDef="let tutoria">
                        {{tutoria.situacion}}
                    </td>
                </ng-container>   
        
                <!-- Columna fecha -->
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let tutoria">{{tutoria.fecha | date: 'dd/MM/yy'}}</td>
                </ng-container>   
        
                <!-- Columna hora -->
                <ng-container matColumnDef="hora">
                    <th mat-header-cell *matHeaderCellDef> Hora </th>
                    <td mat-cell *matCellDef="let tutoria">{{tutoria.fecha | date: 'HH:mm'}}</td>
                </ng-container>      
                
                <!-- Columna acciones -->
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let tutoria">
                        <button mat-icon-button (click)="eliminar(tutoria)"><mat-icon>delete_outline</mat-icon></button>

                    </td>
                </ng-container>        
        
                <tr mat-header-row *matHeaderRowDef="columnas()"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas();"></tr>    

            </table>    

    </div>
    
</div>



