<mat-toolbar-row>
    <button class="btnVolver" mat-button color="primary" (click)='volver()'> <mat-icon>undo </mat-icon> VOLVER </button>
    <!-- <button class="btnVolverCel" mat-icon-button color="primary" (click)='volver()'> <mat-icon>undo</mat-icon> </button> -->
    <span class="ruta">&nbsp; Tutorias > Nueva</span>
</mat-toolbar-row>

<mat-divider></mat-divider>

<div class="pantalla">


<form [formGroup]='form' (ngSubmit)='crear()' class="formulario">

    <mat-form-field class="itemFormulario" appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="fecha" placeholder="Fecha" formControlName='fecha'>
        <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
        <mat-datepicker #fecha></mat-datepicker>
    </mat-form-field>  
 
    <mat-form-field appearance="outline" class="itemFormulario">
        <mat-label>Hora Inicio</mat-label>
        <input matInput type='time' formControlName='hora_inicio'>
    </mat-form-field>

    <mat-form-field appearance="outline" class="itemFormulario">
        <mat-label>Materia</mat-label>
        <input matInput formControlName='materia'/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="itemFormulario">
        <mat-label>Comisión</mat-label>
        <input matInput formControlName='comision'/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="itemFormulario">
        <mat-label>Aula - Lugar</mat-label>
        <input matInput formControlName='aula'/>
    </mat-form-field>   

    <div class="bloqueAcciones">
        <button mat-Button type='submit' class="btnNueva" mat-flat-button color="primary">CREAR TUTORIA</button>
    </div>    

</form>

</div>