<mat-toolbar-row>
  <button class="btnVolver" mat-button color="primary" (click)='volver()'> <mat-icon>undo </mat-icon> VOLVER </button>
  <!-- <button class="btnVolverCel" mat-icon-button color="primary" (click)='volver()'> <mat-icon>undo</mat-icon> </button> -->
  <span class="ruta">&nbsp; Tutorias > Detalle</span>
</mat-toolbar-row>

<div *ngIf="tutoria$ | async">
  <div>
    Tutor: {{ (tutoria$|async)?.tutor.nombre }} {{ (tutoria$ |async)?.tutor.apellido }} 
  </div>

  <div>
    Fecha: {{ (tutoria$|async)?.fecha | date:'dd/MM/yy' }}
  </div>
  <div>
    Hora: {{ (tutoria$|async)?.fecha | date:'HH:mm' }}
  </div>
  <div>
    Aula: {{(tutoria$|async)?.aula}}
  </div>
  <div>
    Asistieron: {{(tutoria$|async)?.nro_alumnos}}
  </div>
</div>
