.btnVolver {
  display: inline;
  @media screen and (max-width: 768px) {
    display: none;
}
}

.btnVolverCel {
  display: none;
  @media screen and (max-width: 768px) {
    display: inline;
}
}

.ruta {
  opacity: .5;
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}
  
 
.pantalla {
    padding: 20px;
}


table {
  width: 100%
}

.cargando {
  display: flex;
  justify-content: center;
  align-items: center;
}