<mat-toolbar-row>
    <button class="btnVolver" mat-button color="primary" (click)='volver()'> <mat-icon>undo </mat-icon> VOLVER </button>
    <button class="btnVolverCel" mat-icon-button color="primary" (click)='volver()'> <mat-icon>undo</mat-icon> </button>
    <span class="ruta">&nbsp; Tutorias</span>
</mat-toolbar-row>
  
<mat-divider></mat-divider>

<div class="pantalla">

  <div class="bloqueBotones">
    <button (click)="crearTutoria()" mat-flat-button color="primary" class="btnNueva">NUEVA TUTORIA</button>
  </div>
  
  <mat-table matSort [dataSource]="tutorias_paginadas$ |async">

      <!-- Columna tutor -->
      <ng-container matColumnDef="tutor">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Tutor </mat-header-cell>
        <mat-cell *matCellDef="let tutoria">
          {{tutoria.tutor.nombre}} {{tutoria.tutor.apellido}}
        </mat-cell>
      </ng-container>

      <!-- Columna fecha -->
      <ng-container matColumnDef="fecha">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Fecha </mat-header-cell>
        <mat-cell *matCellDef="let tutoria">{{tutoria.fecha | date: 'dd/MM/yy'}}</mat-cell>
      </ng-container>

      <!-- Columna cantidad de alumnos -->
      <ng-container matColumnDef="alumnos">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Alumnos </mat-header-cell>
        <mat-cell *matCellDef="let tutoria">{{tutoria.nro_alumnos}}</mat-cell>
      </ng-container>

      <!-- Columna acciones -->
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let tutoria">
          <button mat-icon-button (click)="detalle(tutoria.id)"><mat-icon>zoom_in</mat-icon></button>
        </mat-cell>

      </ng-container>

      <mat-header-row *matHeaderRowDef="columnas()"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnas();"></mat-row>   
  </mat-table>
  
  <mat-card *ngIf="cargando$ | async" class="cargando">
      <mat-progress-spinner color="primary" mode="indeterminate" diameter="50">
      </mat-progress-spinner>
  </mat-card>
  <mat-paginator [length]="tamano$ | async" [pageSize]="10" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>

</div>