.btnVolver {
    display: inline;
    @media screen and (max-width: 768px) {
      display: none;
  }
  }
  
  .btnVolverCel {
    display: none;
    @media screen and (max-width: 768px) {
      display: inline;
  }
  }
  
  .ruta {
    opacity: .5;
    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }
    
   
  .pantalla {
      padding: 20px;
      display: flex;
      flex-direction: row;
  }

  .bloqueAcciones {
    min-width: 250px;
    width: 25%;
    @media screen and (max-width: 768px) {
    width: 100%;
    }
  }

  .formulario {
      width: 100%;
  }

  .itemFormulario {
      width: 100%;
  }

  .btnGuardar {
    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 10px;
    }
  }