<mat-toolbar-row>
  <button class="btnVolver" mat-button color="primary" (click)='volver()'> <mat-icon>undo </mat-icon> VOLVER </button>
  <button class="btnVolverCel" mat-icon-button color="primary" (click)='volver()'> <mat-icon>undo</mat-icon> </button>
  <span class="ruta">&nbsp; Tutorias - Agregar Alumno</span>
</mat-toolbar-row>

<mat-divider></mat-divider>

<div class="pantalla">

<form [formGroup]='form' (ngSubmit)='crear()' class="formulario">

    <div class="bloqueAcciones">
        <mat-form-field class="itemFormulario" appearance="outline">
            <mat-label>Situación</mat-label>
            <mat-select formControlName='situacion'>
                <mat-option *ngFor="let situacion of (situaciones$ | async)" [value]="situacion">
                    {{ situacion.situacion }}
                </mat-option>
            </mat-select>    
        </mat-form-field>       

        <button mat-Button type='submit' class="btnGuardar" mat-flat-button color="primary">ACEPTAR</button>
    </div>     
</form>

</div>