<!-- FORMULARIO DE BUSQUEDA -->
<form [formGroup]='form'>
  <mat-form-field appearance="fill" class="contenedorFormulario">
      <input matInput placeholder="Buscar Usuario" aria-label="State" [matAutocomplete]="auto" formControlName="campoBusqueda" >
      <mat-icon class="animacionCargando" *ngIf="cargando" matSuffix>clear</mat-icon>
      <mat-icon *ngIf="!cargando" matSuffix>search</mat-icon>

      <mat-autocomplete #auto="matAutocomplete" (optionSelected)='autocomplete_seleccionado($event)' [displayWith]="display_usuario">
          <mat-option *ngFor='let p of (personas$ | async)' [value]='p'>
              <div class="itemLugar" >
                  <i class="material-icons-outlined iconoLista">account_circle</i>
                  <span class="nombre">{{p.nombre}} {{p.apellido}}  </span>
                  <small>&nbsp; DNI {{p.dni}}</small>
              </div>
          </mat-option>
      </mat-autocomplete>

      <mat-hint *ngIf='existen_resultados$ | async'>
          <p>No se encontraron resultados!</p>
      </mat-hint>          
  </mat-form-field>

</form>

<!-- CONTENEDOR DE LUGARES SELECCIONADOS -->
<div *ngIf='seleccionados.length > 0' class="contenedorSeleccionados">
    <mat-card >
        <mat-card-content>
            <div class="textLS">Alumnos Seleccionados</div>

            <mat-chip-list *ngFor='let t of seleccionados'>
                <mat-chip>
                  {{t.nombre}} {{t.apellido}}<mat-icon matChipRemove (click)='deseleccionar(t)'>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </mat-card-content>
    </mat-card>
   
    <button class="btnSiguiente" mat-flat-button color="primary" (click)='finalizar_seleccion()'>Siguiente</button>
</div>